{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock title %}

{% block css %}
    <style>
        input{width:100%;padding:8px}
        .errorlist {padding-left: 15px;color: firebrick;}
    </style>
{% endblock css %}

{% block body %}
{% if request.user.is_authenticated %}

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <div class="jumbotron bg-light text-dark p-3" >
    
    <form method="post" novalidate class='w-100'>
        {% csrf_token %}
        <table cellpadding="10" class='w-100'>
            <tbody>
                <tr>
                    <th colspan="2">
                        <center>
                            <h3 class="p-0 m-0">Create Blog Here !</h3>
                        </center>
                    </th>
                </tr>
                {% for i in form %}
                    <tr>
                        <th>
                            {{i.label_tag}}
                        </th>
                        <td>
                            {{i}}
                            {% if i.errors %}
                                {{i.errors}}
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="2" class="text-center">
                        <button class="btn btn-primary"  type="submit">Submit</button>
                        <a href='/createblog/'><button class="ml-2 btn btn-warning" type="button">Reset</button></a>
                    </th>
                </tr>
            </tbody>
        </table>

    </form>
</div>

        </div>
    </div>
</div>
{% endif %}





{% endblock body %}